header {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    padding-right: 18px;
}
header span{
    padding-right: 12px;
    margin-top: 25px;
    opacity: 0.8;
}
header span:first-child:hover,
header span:nth-child(2):hover
{
    text-decoration: underline;
    cursor: pointer;
}
#icon{
    margin-left: 8px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
    padding: 8px 8px;
    opacity: 0.6;
}
#icon:hover{
    background-color: rgba(224, 219, 219, 0.555);
    border-radius: 50%;
}
header span:last-child{
    opacity: 1;
    height: 36px;
    width: 96px;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding: 12px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 8%;
    color: white;
    font-size: 0.9rem;    
}
header span:last-child:hover{
    box-shadow: 1px 1px 1px 1px rgb(173, 183, 187, 0.548);
    background-color: #196ad3;
    cursor: pointer;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 63vh;
}
input {
    width: 70%;
    padding: 7px;
    border-radius: 10px;
    border: none;
}
input:focus{
    outline: none;
}
#search:hover {
    box-shadow: 0.8px 0.8px 0.8px 0.8px rgba(187, 197, 201, 0.548);
}
form {
    margin-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
button {
    padding: 10px;
    cursor: pointer;
    border: 5px;
    color: rgba(0, 0, 0, 0.801);
    background-color: rgba(243, 242, 242, 0.5);
    margin: 0 4px;
    border-radius: 5%;
    font-size: 0.85rem;
    opacity: 0.8;
}
button:hover {
    border-color: lightgray;
    box-shadow: 1px 1px 2px 2px rgba(177, 174, 174, 0.267);
    opacity: 1;
}
#img-container {
    min-height: 90px;
    max-height: 290px;
    height: calc(100% - 500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 0.5px;
}
#img-container .light-logo {
    display: initial;
}

#img-container .dark-logo {
    display: none;
}
#search-field {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 443px;
    opacity: 1;
    outline: none;
    line-height: 27px;
    font-size: 16px;
    margin-left: 10px;
    text-align: left;
}

/* #search:focus {
    cursor:text;
    color: black;
} */


#search {
    width: 584px;
    height: 47px;
    border: 1px solid rgba(10, 10, 10, 0.219);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}
#search-icon {
    opacity: 0.7;
    padding-left: 10px;
}
.drop-down {
    display: block;
    width: 0;
    border: 5px solid;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 165%;
    transform: translateY(-50%);
    margin-right: 5px;
    visibility: hidden;
}
#mic,
#camera{
    display: flex;
    justify-content: flex-end;
    width: 40px;
    height: 20px;
    align-items: center;
    position: relative;
    cursor: pointer;
}

#google-mic{
    margin-right: 1px;
    width: 35px;
}
#google-camera{
    /* font-size: 1.5rem; */
    width: 32px;
}
#google-mic:hover {
    cursor: pointer;
}
#google-camera:hover {
    cursor: pointer;  
}
#mic:hover .drop-down,
#camera:hover .drop-down {
    visibility: visible;
}
#mic:hover .tooltip-1,
#camera:hover .tooltip-2 {
    visibility: visible;
}
#mic .tooltip-1,
#camera .tooltip-2 {
    visibility: hidden;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.795);
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    font-size: 11px;
    height: 25px;
   
    position: absolute;
    top: 185%;
    right: -40px;
}
#google-search button{
    font-size: 0.9rem;
}
#language {
    margin-top: 1px;
    font-size: 0.8rem;
    color: rgb(80, 79, 79);
}
#language span{
    color: rgb(61, 61, 184);
    padding: 0 5px;
}
#language span:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: rgb(32, 31, 31);
    font-size: 0.9rem;
    background-color: rgb(243, 243, 243);
}
#bottom-1 {
    width: 60%;
    padding-left: 20px;
    justify-content: flex-start;
}
#bottom-2 {
    width: 40%;
    justify-content: flex-end;
}

#footer-bottom {
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    height: 45px;
}
footer div {
    padding: 3px;
    display: flex;
    bottom: 0;
}
footer div span{
    padding: 13px;
}

#footer-top {
    justify-content: flex-start;
    border-bottom: 0.1rem solid rgb(212, 211, 211);
    height: 49px;
    padding: 16px;
    padding-left: 32px;
}
footer div span:hover{
    text-decoration: underline;
}

@media all and (min-width: 751px) and (max-width:1200px){
    #footer-bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 45px;
        
    }
    
    #bottom-1,
    #bottom-2{
        gap: 5px;
    }
}

@media all and (min-width: 601px) and (max-width:750px){
    main{
        overflow: hidden;
    }
    #footer-bottom {
        flex-direction: column;
        justify-content: center;
        height: 90px;
    }
    #bottom-1,
    #bottom-2{
        width: 100%;
        justify-content: center;
        gap: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media all and (min-width: 425px) and (max-width: 600px){
    main{
        overflow: hidden;
    }
    #search {
        width: 95%;
    }
    #footer-bottom {
        flex-direction: column;
        justify-content: center;
        height: 90px;
    }
    #bottom-1,
    #bottom-2{
        width: 100%;
        justify-content: center;
        gap: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media all and (min-width: 375px) and (max-width: 425px){
    main{
        overflow: hidden;
    }
    #search {
        width: 95%;
    }
    #footer-bottom {
        flex-direction: column;
        justify-content: center;
        height: 90px;
    }
    #bottom-1,
    #bottom-2{
        width: 100%;
        justify-content: center;
        gap: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media all and (prefers-color-scheme: dark) {
    body {
        background-color: #202124; 
        color: #bdc1c6;       
    }
    #gmail,
    #images {
        color: white;
    }
    #icon {
        color: rgba(255,255,255,1);
    }
    #icon:hover {
        background-color: rgba(224, 219, 219, 0.555);
        border-radius: 50%;
    }
    #img-container .light-logo {
        display: none;
    }
    #img-container .dark-logo {
        display: initial;
    }
    footer {
        color: rgb(245, 241, 241, 0.9);
        background-color: rgb(27, 26, 26, 0.9);
    }
    header span:last-child {
        background-color: #84b2f0;
        color: black;
    }
    #footer-top {
        border-bottom: 0.1rem solid rgb(212, 211, 211);
    }
    #search {
        background-color: #202124;
        border: 1px solid rgb(212, 211, 211, 0.5);
    }
    #search:hover {
        background-color: rgb(49, 48, 48);
        box-shadow: 0 0 0 0;
        border: none;
    }
    #google-search button{
        background-color: rgb(53, 50, 50);
        color: rgb(247, 245, 245);
    }
    #language {
        color: rgb(235, 225, 225, 0.8);
    }
    #language span{
        color: #84b2f0;
    }
    #google-search button:hover{
        box-shadow: 0 0 0 0;
        opacity: 0.8;
        border: 0.5px solid rgb(196, 190, 190, 0.5);
    }
    #search-icon {
        opacity: 1;
    }
    #search-field {
        color: white;
    }
    



}

